.body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: hidden;
  padding-top: 56px;
  padding-bottom: 56px;
}

@media screen and (min-width: 1024px) {
  .body {
    padding-bottom: 0px;
  }
}

.html {
  height: -webkit-fill-available;
}
